{% extends "base_site.html" %}
{% load widget_tweaks %}
{% load i18n static %}

{% block page_title %}
  Product Day Sales
{% endblock %}


{% block page_content %}
  <h1>Product Day Sales</h1>
  <h2>Date: {{ sales_date }}; Cashreg: {{ cashreg.identity }}</h2>

  {% if totals %}
    <h3>Totals</h3>
    <table class="table">
      <tr>
        <th>Un.</th>
        <th>Act.S.V.</th>
        <th>Fr.Un.</th>
        <th>Fr.Exp.S.V.</th>
        <th>Fr.Act.S.V</th>
        <th>Fr.Los.S.V.</th>
      </tr>
      <tr>
        <td>{{ totals.units }}</td>
        <td>{{ totals.actual_sales_value }}</td>
        <td>{{ totals.fractional_units }}</td>
        <td>{{ totals.fractional_expected_sales_value }}</td>
        <td>{{ totals.fractional_actual_sales_value }}</td>
        <td>{{ totals.fractional_lost_sales_value }}</td>
      </tr>
    </table>
  {% else %}
    {% trans "No records" %}
  {% endif %}

  {% if product_day_sales %}
    <h3>Product Day Sales</h3>
    <table class="table">
      <tr>
        <th>Product Name</th>
        <th>Un.</th>
        <th>Price</th>
        <th>Act.S.V.</th>
        <th>Fr.Un.</th>
        <th>Fr.Los.S.V.</th>
        <th>Prod.#</th>
      </tr>
    {% for rec in product_day_sales %}
      <tr>
        <td>{{ rec.product_name }}</td>
        <td>{{ rec.units }}</td>
        <td>{{ rec.product_pricesell }}</td>
        <td>{{ rec.actual_sales_value }}</td>
        <td>{{ rec.fractional_units }}</td>
        <td>{{ rec.fractional_lost_sales_value }}</td>
        <td>{{ rec.product_reference }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    {% trans "No records" %}
  {% endif %}

{% endblock %}
