{% extends "base_site.html" %}
{% load widget_tweaks %}
{% load i18n static %}

{% block page_title %}
  Product Daily Sales
{% endblock %}


{% block page_content %}
  <h1>Product Daily Sales</h1>
  <h2>Date: {{ sales_date }}; Cashreg: {{ cashreg.identity }}</h2>


  <!-- {% if perms.prod.product_create %}
    <p>
      <a href={% url "prod:product-create" %}><span class="fa fa-plus"></span> Create</a>
    </p>
  {% endif %} -->

  {% if object_list %}
    <table class="table">
      <tr>
        <th>Product Name</th>
        <th>Units</th>
        <th>Expected Value</th>
        <th>Actual Value</th>
        <th>Lost Value</th>
      </tr>
  {% for rec in object_list %}
    <tr>
      <td>{{ rec.product_name }}</td>
      <td>{{ rec.units }}</td>
      <td>{{ rec.expected_sales_value }}</td>
      <td>{{ rec.actual_sales_value }}</td>
      <td>{{ rec.lost_sales_value }}</td>
    </tr>
  {% endfor %}
    </table>
  {% else %}
    {% trans "No records" %}
  {% endif %}

{% endblock %}
