{% extends "base_page.html" %}
{% load widget_tweaks %}
{% load i18n static %}

{% load misc_template_lib %}

{% block page_title %}
  Daily Sales
{% endblock %}


{% block page_content %}
  <h1>Daily Sales</h1>

  <!-- {% if perms.prod.product_create %}
    <p>
      <a href={% url "prod:product-create" %}><span class="fa fa-plus"></span> Create</a>
    </p>
  {% endif %} -->

  {% if object_list %}
    <table class="table">
      <tr>
        <th>Date</th>
        {% comment %} <th>Cashreg</th> {% endcomment %}
        <th>Act.S.V.</th>
        <th>Exp.S.V.</th>
        <th>Dis.S.V.</th>
      </tr>
      {% for rec in object_list %}
        <tr>
            <td>
              <label for="{{ rec.sdate }}">{{ rec.sdate }} <span class="fa fa-angle-down ffba-angle-0"></span></label>
              <input type="checkbox" name="{{ rec.sdate }}" id="{{ rec.sdate }}" data-toggle="ffba-toggle-0" style="display: none">
            </td>
            <td>{{ rec.actual_sales_value|float_format_0_2 }}</td>
            <td>{{ rec.expected_sales_value|float_format_0_2 }}</td>
            <td>{{ rec.discount_value|float_format_0_2 }}</td>
        </tr>
        <tbody class="ffba-hide-0" style="display: none">
            {% for cr in rec.cashreg_recs %}
              <tr>
                <td>
                  {% comment %} {% if perms.sales.xxx %} {% endcomment %}
                    <a href={% url "sales:day-sales" cashreg_id=cr.cashreg_id year=cr.sdate.year month=cr.sdate.month mday=cr.sdate.day %}>
                      {{ cr.cashreg_identity }}
                    </a>
                  {% comment %} {% else %}
                    {{ cr.cashreg_identity }}
                  {% endif %} {% endcomment %}
                </td>
                <td>{{ cr.actual_sales_value|float_format_0_2 }}</td>
                <td>{{ cr.expected_sales_value|float_format_0_2 }}</td>
                <td>{{ cr.discount_value|float_format_0_2 }}</td>
              </tr>
            {% endfor %}
        </tbody>
      {% endfor %}
    </table>
  {% else %}
    {% trans "No records" %}
  {% endif %}

{% endblock %}
