{% extends "base_site.html" %}
{% load widget_tweaks %}
{% load i18n static %}

{% load misc_template_lib %}

{% block page_title %}
  Day Sales
{% endblock %}


{% block page_content %}
  <h1>Day Sales</h1>
  <h2>Date: {{ sales_date }}; Cashreg: {{ cashreg.identity }}</h2>

  {% if totals %}
    <h3>Totals</h3>
    <table class="table">
      <tr>
        <th>Un.</th>
        <th>Act.S.V.</th>
        <th>Exp.S.V.</th>
        <th>Dis.Los.S.V.</th>
        <th>Fr.Un.</th>
        <th>Fr.Act.S.V</th>
        <th>Fr.Exp.S.V.</th>
        <th>Fr.Los.S.V.</th>
      </tr>
      <tr>
        <td>{{ totals.units|float_format_0_2 }}</td>
        <td>{{ totals.actual_sales_value|float_format_0_2 }}</td>
        <td>{{ totals.expected_sales_value|float_format_0_2 }}</td>
        <td>{{ totals.dscn_lost_sales_value|float_format_0_2 }}</td>
        <td>{{ totals.fractional_units }}</td>
        <td>{{ totals.fractional_actual_sales_value|float_format_0_2 }}</td>
        <td>{{ totals.fractional_expected_sales_value|float_format_0_2 }}</td>
        <td>{{ totals.fractional_lost_sales_value|float_format_0_2 }}</td>
      </tr>
    </table>
  {% else %}
    {% trans "No records" %}
  {% endif %}

  {% if product_day_sales %}
    <h3>Day Sales by Products</h3>
    <table class="table">
      <tr>
        <th>Product Name</th>
        <th>Un.</th>
        <th>Price</th>
        <th>Act.S.V.</th>
        <th>Exp.S.V.</th>
        <th>Los.S.V.</th>
        <th>Fr.Un.</th>
        <th>Fr.Exp.S.V.</th>
        <th>Fr.Los.S.V.</th>
        <th>Prod.#</th>
      </tr>
    {% for rec in product_day_sales %}
      <tr>
        <td>{{ rec.product_name }}</td>
        <td>{{ rec.units|float_format_0_2 }}</td>
        <td>{{ rec.product_pricesell|float_format_0_2 }}</td>
        <td>{{ rec.actual_sales_value|float_format_0_2 }}</td>
        <td>{{ rec.expected_sales_value|float_format_0_2 }}</td>
        <td>{{ rec.dscn_lost_sales_value|float_format_0_2 }}</td>
        <td>{{ rec.fractional_units|float_format_0_2 }}</td>
        <td>{{ rec.fractional_expected_sales_value|float_format_0_2 }}</td>
        <td>{{ rec.fractional_lost_sales_value|float_format_0_2 }}</td>
        <td>{{ rec.product_reference }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    {% trans "No records" %}
  {% endif %}

  {% if day_sales_recs %}
    <h3>Day Sales Records</h3>
    <table class="table">
      <tr>
        <th>Date</th>
        <th>Product Name</th>
        <th>Un.</th>
        <th>Price</th>
        <th>Act.S.V.</th>
        <th>Exp.S.V.</th>
        <th>Dis.%</th>
        <th>Los.S.V.</th>
        <th>Fr.Un.</th>
        {% comment %} <th>Fr.Act.S.V.</th> {% endcomment %}
        <th>Fr.Los.S.V.</th>
        <th>Prod.#</th>
      </tr>
    {% for rec in day_sales_recs %}
      <tr>
        <td>{{ rec.sales_date|time:"H:i:s" }}</td>
        <td>{{ rec.product_name }}</td>
        <td>{{ rec.units|float_format_0_2 }}</td>
        <td>{{ rec.product_pricesell|float_format_0_2 }}</td>
        <td>{{ rec.actual_sales_value|float_format_0_2 }}</td>
        <td>{{ rec.expected_sales_value|float_format_0_2 }}</td>
        <td>{{ rec.dscn_rate|float_format_0_2:"-,0" }}</td>
        <td>{{ rec.dscn_lost_sales_value|float_format_0_2 }}</td>
        <td>{{ rec.fractional_units|float_format_0_2 }}</td>
        <td>{{ rec.fractional_lost_sales_value|float_format_0_2 }}</td>
        <td>{{ rec.product_reference }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    {% trans "No records" %}
  {% endif %}

{% endblock %}
