{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{# SITE_TITLE | page_title #}
<title>{% block site_title %}SITE_TITLE{% endblock %} / {% block page_title %}Page Title{% endblock %}</title>

{% block site_styles %}
  {% block bootstrap_styles %}
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
  {% endblock %}
  {% block page_styles %}{% endblock %}
  {% block fontawesome_styles %}
    <link rel="stylesheet" href={% static "css/fontawesome-all.css" %}>
  {% endblock %}
{% endblock %}

{% if LANGUAGE_BIDI %}
  <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "css/rtl.css" %}{% endblock %}" />
{% endif %}

{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

</head>
<body>

{% load i18n %}
{% block header %}{% endblock %}
{% block body_content %}{% endblock %}

{% block js %}
  {% block jquery_js %}
    <script src={% static "js/jquery-3.3.1.js" %}></script>
  {% endblock %}
  {% block popper_js %}
    <script src={% static "js/popper.js" %}></script>
  {% endblock %}
  {% block bootstrap_js %}
    <script src={% static "js/bootstrap.bundle.js" %}></script>
  {% endblock %}
  {% block site_js %}{% endblock %}
{% endblock %}

{% block page_bottom_ext %} {% endblock %}

</body>
</html>
