{% extends "base_site.html" %}
{% load i18n static %}

{% block page_content %}
<div class="container-fluid">
  <div id="todo-app"></div>
</div>
{% endblock %}

{% block page_bottom_ext %}

  <script>
    $(document).ready(function() {
      $('[data-toggle="ffba-toggle-0"]').change(function(){
        ffba_hide_ = $(this).parents().next(".ffba-hide-0")
        if(ffba_hide_.css("display") == "none") {
          $(this).prev().children(".ffba-angle-0").removeClass().addClass("fa fa-angle-up ffba-angle-0")
        } else {
          $(this).prev().children(".ffba-angle-0").removeClass().addClass("fa fa-angle-down ffba-angle-0")
        }
        ffba_hide_.toggle();
      });
      $('[data-toggle="ffba-toggle-1"]').change(function(){
        ffba_hide_ = $(this).parents().next(".ffba-hide-1")
        if(ffba_hide_.css("display") == "none") {
          $(this).prev().children(".ffba-angle-1").removeClass().addClass("fa fa-angle-up ffba-angle-1")
        } else {
          $(this).prev().children(".ffba-angle-1").removeClass().addClass("fa fa-angle-down ffba-angle-1")
        }
        ffba_hide_.toggle();
      });
      $('[data-toggle="ffba-toggle-2"]').change(function(){
        ffba_hide_ = $(this).parents().next(".ffba-hide-2")
        if(ffba_hide_.css("display") == "none") {
          $(this).prev().children(".ffba-angle-2").removeClass().addClass("fa fa-angle-up ffba-angle-2")
        } else {
          $(this).prev().children(".ffba-angle-2").removeClass().addClass("fa fa-angle-down ffba-angle-2")
        }
        ffba_hide_.toggle();
      });
    });
  </script>

{% endblock %}
